# Get these values from BotFather -> Login Widget.
NEXT_PUBLIC_TELEGRAM_CLIENT_ID=your_client_id
NEXT_TELEGRAM_CLIENT_SECRET=your_client_secret

# Keep this value secret. Set it in Vercel Project Settings -> Environment Variables.
NEXT_AUTH_SESSION_SECRET=replace_with_a_long_random_secret

# Canonical production URL.
NEXT_APP_SITE_URL=https://reel-mocha.vercel.app/

# Админы (через запятую) - их телеграм id, чтобы они могли видеть все видео и удалять их.
NEXT_PUBLIC_ADMINS=

DATABASE_URL=***
POSTGRES_URL=***
PRISMA_DATABASE_URL=***